* {
  all: unset;
  font-family: "JetBrainsMono";
  font-size: 16px;
}

#window {
  background-color: #141414;
  border-radius: 10px;
}

#outer-box {
  background-color: #141414;
  border: 2px solid #555555;
  border-radius: 10px;
}

#input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #212121;
}

#entry {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color: #eeffff;
  border-radius: 8px;
}

#entry:selected {
  background-color: #212121;
  color: #ffffff;
}
