$background: #000000;

* {
  background-color: transparent;
  box-shadow: none;
}

.corners-left-alt {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: -12px 12px 0px 0px $background;
}

.corners-right-alt {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 12px 12px 0px 0px $background;
}

.corners-left {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: -12px -12px 0px 0px $background;
}

.corners-right {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 12px -12px 0px 0px $background;
}
